# Requirements

alpaca_trade_api>=2.1.0
ccxt

# for markowitz portfolio optimization
cvxpy
elegantrl

# market data & paper trading API
exchange_calendars
gputil==1.4.0
gym
jqdatasdk==1.8.10
lz4==4.0.1

# plot
matplotlib==3.5.2
# data handling
numpy
pandas

# pandas
pandas_market_calendars==3.5

# hooks
pre-commit==2.19.0

# testing requirements
pytest
ray[default]

# Model Building Requirements
scikit-learn

# packaging
setuptools
# stable-baselines3[extra]
stockstats
tensorboardX==2.5.1
vectorbt[full]
wheel==0.37.1
wrds
yfinance
